<div class="container">
    <h1>Example</h1>
    <hr>
    <form>
        <div class="row">
            <div class="col">
                <ng-container checkContainer>
                <div class="custom-control custom-checkbox">
                    <input checkAll
                            type="checkbox"
                            class="custom-control-input"
                            name="checkAllStart"
                            id="checkAllStart"
                            [(ngModel)]="allLanguagesSelected">
                    <label for="checkAllStart" class="custom-control-label">Check All</label>
                </div>
                <hr>
                <div class="custom-control custom-checkbox" *ngFor="let item of languagesList">
                    <input checkOne
                            type="checkbox"
                            class="custom-control-input"
                            [name]="item.name"
                            [id]="item.name"
                            [disabled]="item.disabled"
                            [(ngModel)]="item.checked">
                    <label [for]="item.name" class="custom-control-label">{{item.name}}</label>
                </div>
                <hr>
                <div class="custom-control custom-checkbox">
                    <input checkAll
                            type="checkbox"
                            class="custom-control-input"
                            name="checkAllStart"
                            id="checkAllStart"
                            [(ngModel)]="allLanguagesSelected">
                    <label for="checkAllStart" class="custom-control-label">Check All</label>
                </div>
                </ng-container>
            </div>
            <div class="col">
                <h4>Models</h4>
                <pre><code>allLanguagesSelected: {{allLanguagesSelected}}</code></pre>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <pre><code>{{languagesList | json}}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
